#circle_menu {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 3rem;
    top: 43vh;
    z-index: 10;
    height: 6rem;
    width: 6rem;  
    transition-duration: 500ms;
}

#circle_menu:hover {
    transform: scale(2);
    transition-duration: 500ms;
}

.circle_icon {
    height: 6rem;
    width: 6rem;
    transition-duration: 500ms;
}

.circle_nav {
    display: none;
    flex-direction: column;
    transition-duration: 500ms;
}

.circle-nav-items-black {
    text-decoration: none;
    color:rgb(64, 62, 37);
}

.circle_menu:hover .circle_icon {
    display: none;
}

.circle_menu:hover .circle_nav {
    display: flex;
}

.circle_menu:hover .circle-nav-items-black {
    transform: scale(.75);
    transition-duration: 500ms;
}

@media only screen and (orientation: portrait) {
    #circle_menu {
        display : none;
    }
}