#contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 43vh;
    height: auto;
    width: 14rem; 
    padding-top: 0;
    padding-right: 10px;
    border-top-left-radius: 33% 50%;
    border-bottom-left-radius: 33% 50%;
    background-color: rgb(139, 135, 95);
    transition-duration: 500ms;
    z-index: 10;
}

.side-nav {
    margin-top: 10px;
    text-decoration: none;
    
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

/* #contact a { */
    /* margin: 5px; */
/* } */

/* #contact a:last-child { */
    /* margin-bottom: 10px; */
/* } */

#contact:hover {
    transform: scale(2);
    transition-duration: 500ms;
}

.side-nav,
.contact-info h5 {
    transition-duration: 500ms;
    margin: 10px;
}

.contact-info:hover .side-nav,
.contact-info:hover h5 {
    transform: scale(.6);
    transition-duration: 500ms;
    margin-right: 25px;
}

.contact-link {
    text-decoration: none;
    color: black;
}

.side-nav:hover,
.contact-link:hover {
    opacity: 40%;
}

@media only screen and (max-width: 1020px) {
    #contact {
        display: none;
    }
}