#contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 43vh;
    height: 8rem;
    width: 12rem; 
    padding-top: 0;
    padding-right: 10px;
    border-top-left-radius: 33% 50%;
    border-bottom-left-radius: 33% 50%;
    background-color: rgb(139, 135, 95);
    transition-duration: 500ms;
    z-index: 10;
}

.side-nav {
    margin-top: 10px;
    text-decoration: none;
    
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

#contact:hover {
    background-color: rgb(217, 213, 169);
    transform: scale(2);
    transition-duration: 500ms;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.side-nav,
.contact-info h5 {
    transition-duration: 500ms;
    
}

.contact-info:hover .side-nav,
.contact-info:hover h5 {
    transform: scale(.5);
    transition-duration: 500ms;
    /* margin-right: 25px; */
}

.contact-link {
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: black;
}

.icon {
    display: flex;
    height: 1rem;
    width: auto;
    margin-left: 10px;
}

.side-nav:hover,
.contact-link:hover {
    opacity: 40%;
}

@media only screen and (max-width: 1020px) {
    #contact {
        display: none;
        width: 6rem;
        flex-direction: column;
        justify-content: center;
    }

    .side-nav {
        margin-right: 0px;
    }

    .contact-link {
        justify-content: center;
    }

    .contact-link span {
        display: none;
    }

    .icon {
        display: block;
    }

    .contact-info:hover,
    .contact-info:hover .side-nav,
    .contact-info:hover h5 {
        transform: none;
        transition-duration: 0ms;
    }
}