
.BusinessCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nanum Gothic Coding', sans-serif;
    background-color: black;
    color: rgb(139, 135, 95);
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.centered-me {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.hr {
    display: block;
    margin: 0.5em auto;
    height: 0.125rem;
    width: 17.5rem; 
    background-image: linear-gradient(to right, black, rgb(139, 135, 95), black); 
  }

.link {
  text-decoration: none;
  font-size: 2.125rem;
  font-weight: bolder;
}

.link:visited {
  color: rgb(139, 135, 95);
}

.link:hover {
  color: rgba(139, 135, 95, .4);
}
