/* primary elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-size: 32px;
}

body {

}

header {
    display: flex;
    background-color: rgb(139, 135, 95);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
    align-items: flex-start;
    justify-content:flex-end;    
}

main {

}

footer {
    background-color: rgb(139, 135, 95);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 50px;
    z-index: 10;
    height: 3rem;
}

/* navigation elements */

nav {
    display: flex;
    justify-content:right;
    align-items: center;
    height: 2rem;
    margin-right: 50px;
}

.nav-items {
    text-decoration: none;
    display: inline-block;
    border: 0, 10px;
    padding: 0, 10px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    border: 0, 10px;
    padding: 0, 10px;
}

a:visited {
    color: black;
}

a:hover {
    color:hsl(208, 100%, 97%);
}



/* misc elements */

#page-1 {
   /* position: fixed;*/
    background-color: black;
    color: rgb(139, 135, 95);
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

#page-2 {
   /* position: relative;
    top: 100vh;*/
    background-color: rgb(139, 135, 95);
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

#page-3 {
   /* position: relative;
    top: 100vh;*/
    background-color: black;
    color: rgb(139, 135, 95);
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 15%;
  }

#contact {
    display: none;
}

.full-width {
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align:center;
}

.name {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.role {
    margin-top: 1.5rem;
}

.hr {
    display: block;
    margin: 0.5em auto;
    height: 0.125rem;
    width: 17.5rem;  
  }

  #page-1 .hr, #page-3 .hr {
    background-image: linear-gradient(to right, black, rgb(139, 135, 95), black);
  }

  #page-2 .hr {
    background-image: linear-gradient(to right, rgb(139, 135, 95), black, rgb(139, 135, 95));
  }

  .flex-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

/* Slideshow container */
.slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    margin: auto;
  }

.Containers {
    display: none;
  }
  
  /* forward & Back buttons */
  .Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .dot-container {
      text-align: center;
      width: 100%;
      border: 5px solid pink;
  }
  /* The circles or bullets and indicators */
  .dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots:hover {
    background-color: #717161;
  }
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

.portfolio-piece {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content:center;
    justify-items: center;
    text-align: center;
    width: 100%;
    margin: 0 2rem;
}

.portfolio-piece h2 {
    font-family: 'ibm plex sans';
}

.portfolio-piece h4 {
    font-family: 'ibm plex serif';
}

.portfolio-image {

}
img {
   
    margin: 10px auto;
    height: 12.5rem;
    width: auto;
}

.mobile {
    display: none;
}

div.about {
    width: 95%;
    height: 80%;
    padding: 5%;
    justify-items:center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    background-image: linear-gradient(to top, rgb(169, 167, 145), rgb(139, 135, 95));
    color: black;
 
}
/*
.about img {
    margin-top: 2rem;
}*/

.about-title {
    width: 100%;
}

.about .hr {
    margin: 1rem auto 0 auto;
    width: 4.5rem;
}

.about-paragraph {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin: 5%;
    width: 90%;
}

.about-paragraph ul {
    width: 75%;
    margin: 0 auto;
}

.about-paragraph li {
    margin-bottom: 1em;
}

.specialize {
    display: flex;
   
    width: 100%;
    justify-content: center;
}
.specialize li {
    display: inline-block;
    list-style: none;
  
}
.specialize img {
    height: 50px;
    width: auto;
}

/* footer elements */

footer h4 {
    margin-right: 50px;
    font-weight: 100;
}

/* media queries */

@media only screen and (max-width: 1000px) and (orientation: portrait) {

    /* responsive nav */
    .topnav a {
        display: none;
      }

    a.icon {
        float: right;
        display: block;
        height: 2rem;
        font-size: 2rem;        
      }
    
    .topnav.responsive {
        position: relative;
        float:right;
        margin-right: 0;
        align-items: flex-start;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
        background-color:rgb(139, 135, 95);
        height: 100vh;
        width: 90%;
        opacity: 80%;

    }

    .topnav.responsive a.icon {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive li {
        display: block;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      margin-top: 3rem;
    }    
}

@media screen and (min-width: 1001px), (orientation: landscape) {

    html {
        font-size: 16px;
    }

    #contact {
        display:block;
        position: fixed;
        right: 0;
        top: 43vh;
        height: auto;
        width: 12rem;
        text-align: right;
        padding-top: 0;
        padding-right: 10px;
        border-top-left-radius: 33% 50%;
        border-bottom-left-radius: 33% 50%;
        background-color: rgb(139, 135, 95);
        z-index: 10;
    }
    
    #contact h4 {
        text-decoration: underline;
        margin-top: 5px;
    }
    
    #contact h5 {
        text-decoration: none;
        color: black;
        margin: 10px 0;
    }

    .hr {
        height: 0.0625rem;
    }

    .icon {
        display: none;
    } 

    .flex-container {
        flex-wrap: nowrap;
    }

}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    #page-2 {
        justify-content: flex-start;
    }
    
    #page-2 .name, #page-2 .role {
        margin: 0;
    }

    .flex-container {
        width: 80%;
    }

    .portfolio-piece {
        font-size: 0.8rem;
    }

    #page-3 #name, #page-3 .hr, #page-3 #role {
        display: none;
    }

    div.about {
        width: 95%;
        height: 70%;
        font-size: 1rem;
        padding: 0;
        overflow: hidden;
    }

    .about-paragraph {
        margin: 0;
        width: 90%;
    }
    
    .about {
        margin-bottom: 1em;
    }
    .about-paragraph ul {
        width: 75%;
        margin: 0 auto;
    }
    
    .about-paragraph li {
        margin-bottom: 1em;
    }
    
    .specialize {
        display: flex;
       
        width: 100%;
        justify-content: center;
    }
    .specialize li {
        display: inline-block;
        list-style: none;
      
    }
    .specialize img {
        height: 50px;
        width: auto;
    }
    

}
@media screen and (min-width: 1001px) {

    .portfolio-piece {
        width: 40%;
        margin: 0 auto;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .about-title h3 {
        text-align: left;
        margin-left: 5%;
    }

    div.about {
        width: 90%;
        height: 75%;
        margin-left: 10%;
        background-image: linear-gradient(to right, rgb(142, 135, 62), rgb(139, 135, 95)); 
    }

    .about {
        width: 75%;
        margin-bottom: 1rem;
    }
}