.Portfolio {
     position: absolute;
     top: 0;
     left: 0;
     background-color: rgba(139, 135, 95, .9);
     font-family: 'Nanum Gothic Coding', sans-serif;
     color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100vh;
 }

.Portfolio .hr {
    display: block;
    margin: 0.5em auto;
    height: 0.125rem;
    width: 17.5rem; 
    background-image: linear-gradient(to right, rgb(139, 135, 95), black, rgb(139, 135, 95)); 
}

.centered-me {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
}

.portfolio-list li {
    /* list-style-type: none; */
    margin-bottom: 10px;
}

.portfolio-link {
    text-decoration: none;
    color: black;
}

.portfolio-link:visited {
    text-decoration: none;
    color: black;
}

.portfolio-link:hover {
    opacity: 40%;
}

.divider {
    margin: 0px 10px;
}

#atj {
    background-color: black;
    color: white;
}

#atj span {
    color: green;
}
