#contact {
    display:block;
    position: fixed;
    right: 0;
    top: 43vh;
    height: auto;
    width: 12rem;
    text-align: right;
    padding-top: 0;
    padding-right: 10px;
    border-top-left-radius: 33% 50%;
    border-bottom-left-radius: 33% 50%;
    background-color: rgb(139, 135, 95);
}

#contact h4 {
    text-decoration: underline;
    margin-top: 5px;
}

.contact-info {
    transition-duration: 500ms;
}

.contact-info:hover {
    transform: scale(3);
    transition-duration: 500ms;
}

.contact-info h4,
.contact-info h5 {
    transition-duration: 500ms;
}

.contact-info:hover h4,
.contact-info:hover h5 {
    transform: scale(.5);
    transition-duration: 500ms;
    margin-right: 25px;
}

.contact-link {
    text-decoration: none;
    color: black;
}

.contact-link:hover {
    color: rgba(0, 0, 0, .4);
}