.ContactForm {
    background-color: rgb(139, 135, 95);
    font-family: 'Nanum Gothic Coding', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.ContactForm .hr {
   display: block;
   margin: 0.5em auto;
   height: 0.125rem;
   width: 17.5rem; 
   background-image: linear-gradient(to right, rgb(139, 135, 95), black, rgb(139, 135, 95)); 
}

.centered-me {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;     
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
