header {
    display: flex;
    background-color: rgb(139, 135, 95);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content:flex-end;    
}

nav {
    display: flex;
    justify-content:right;
    align-items: center;
    height: 2rem;
    margin-right: 50px;
}

.nav-items:first-child{
    padding-left: 5px;
    border-left: 1px solid black;
}

.nav-items {
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

a:visited {
    color: black;
}

a:hover {
    color:hsl(208, 100%, 97%);
}

.hamburger {
    display: none;
}