footer {
    background-color: rgb(139, 135, 95);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: small;
    z-index: 10;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}

.copyright {
    font-weight: bold;
}

.footer-content a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    padding: 0px 10px;
    margin: 0;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.footer-content a:hover {
    opacity: 50%;
}

.footer-content a:visited {
    color: black;
}

footer h4 {
    margin: 0px;
    padding: 0px 10px;
}

