#circle_menu {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    position: fixed;
    left: 2rem;
    top: 43vh;
    z-index: 10;
    /* height: auto;
    width: 14rem;  */
}

.circle_menu img {
    height: 6rem;
    width: auto;
}