.Certifications {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(109, 134, 140,.9);
    font-family: 'Nanum Gothic Coding', sans-serif;
    color: rgb(64, 62, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    width: 100%;
    height: calc(100vh - 3rem)
}

.Certifications .hr {
   display: block;
   margin: 0.5em auto;
   height: 0.125rem;
   width: 17.5rem; 
   background-image: linear-gradient(to right, rgba(109, 134, 140,.9), rgb(64, 62, 37), rgba(109, 134, 140,.9)); 
}

.cert-container {
    width: 15%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
}
 
.codecademy {
  position: absolute;
  top: 10%;
  left: 10rem;
  height: 90%;
}

.freecodecamp {
  position: absolute;
  top: 10%;
  right: 10rem;
  height: 30%;
}

.cert-container h2 {
  text-align: center;
}

.cert-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.freecodecamp ul {
  padding: 0;
}

  .cert-container li {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    height: 3rem;
    width: auto;
  }

  .codecademy li {
    flex-direction: row-reverse;
  }

  .cert-container h3 {
      margin: 5px;
  }

  .freecodecamp h3 {
    text-align: right;
  }
  
  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition: all .2s ease-in-out;
  }

  .cert-container img:hover {
    transform: scale(5);
    margin-left: 7rem;
    z-index: 20
  }

  .highlight {
    height: 70%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
